.homeButton {
    cursor: pointer;
    background: none;
    position: absolute;
    display: inline-flex;
    top: 21%;
    left: 0.5%;
    border: none;
}

.homeButton:hover {
    opacity: 50%;
}

.header {
    margin: auto;
    position: absolute;
    width: 100%;
    padding-top: 8px;
    border-bottom: 4px dashed white;
}

.header-text {
    padding-left: 100px;
    color: white;
}