.title {
  margin: auto;
  text-align: center;
  color: white;
  position: fixed;
}

.buttons {
  justify-content: space-evenly;
  display: flex;
  width:100%;
  position: absolute;
  top: 15%;
}

.inputButton, .select, .generate {
  position: relative;
}


.inputButton, .generate, .select {
  display: inline-flex;
  /* Add spacing between buttons */
  margin: 0 5px; /* Adjust this value to increase or decrease space */
}

.visualAlgo {
  font-family: "Arial Rounded MT Bold";
  margin: auto;
  position: absolute;
  top: 30%;
  left: 2%;
  width: 90%;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
}

.infoSection {
  font-family: 'Ubuntu', monospace, Courier;
  position: relative;
  width: 100%;
  margin-top: 10%;
  padding-top: 30px;
  min-height: 100vh;
  display: flex; /* Use flexbox for easier alignment */
  overflow: auto;
  color: white;
  background: black;
  word-wrap: normal;
}

.box {
  margin-left: 40px;
  font-size: 25px;
  max-width: 600px;
}

.tabBlock {
  margin-top: 30px;
  width: 40%;
  height: 30%;
  margin-left: 180px; /* Push the tabBlock to the right */
  font-family: 'Ubuntu', monospace, Courier;
}
