.title {
  text-align: center;
}

.inputButton {
  top: 10%;
  left: 5%;
  display: inline-flex;
  position: absolute;
}

.generate {
  position: absolute;
  display: inline-flex;
  top: 10%;
  left: 45%;
}

.buttons {
  width:100%;
}

.visualAlgo {
  margin-top: 200px;
  margin-left: 20px;
  font-family: "Arial Rounded MT Bold";
}

.select {
  position: absolute;
  display: inline-flex;
  top: 10%;
  right: 5%;
}