.title {
  margin: auto;
  text-align: center;
  color: white;
  position: fixed;
}

/*.inputButton {*/
/*  margin: auto;*/
/*  top: 20%;*/
/*  left: 3%;*/
/*  display: inline-flex;*/
/*  position: absolute;*/
/*}*/

/*.generate {*/
/*  margin: auto;*/
/*  position: absolute;*/
/*  display: inline-flex;*/
/*  top: 20%;*/
/*  left: 45%;*/
/*}*/

/*.select {*/
/*  margin: auto;*/
/*  position: absolute;*/
/*  display: inline-flex;*/
/*  top: 20%;*/
/*  right: 2%;*/
/*}*/

.buttons {
  justify-content: space-evenly;
  display: flex;
  width:100%;
  position: absolute;
  top: 15%;
}

.inputButton, .select, .generate {
  position: relative;
}


.inputButton, .generate, .select {
  display: inline-flex;
  /* Add spacing between buttons */
  margin: 0 5px; /* Adjust this value to increase or decrease space */
}

.visualAlgo {
  font-family: "Arial Rounded MT Bold";
  margin: auto;
  position: absolute;
  top: 30%;
  left: 2%;
  width: 90%;
}

.chart {
  margin: auto;
  width: 800px;
  height: 400px;
  animation: none;
  top: 40%;
  left: 1%;
  position: absolute;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
}

.controlButtons {
  display: flex;
  gap: 10px; /* Adjust this value to change the spacing */
  justify-content: center;
  position: absolute;
  top: 93%;
  right: 15%;
}

.infoSection {
  font-family: 'Ubuntu', monospace, Courier;
  position: relative;
  width: 100%;
  margin-top: 60%;
  padding-top: 25px;
  min-height: 100vh;
  display: block;
  overflow: auto;
  color: white;
  background: black;
  word-wrap: normal;
}

.box {
  position: absolute;
  left: 5%;
  font-size: 25px;
  max-width: 600px;
  position: relative;
}