.myInputButton {
    background: rgba(34, 183, 179, 0.94);
    color: #ffff;
    padding: 0 30px;
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Oxygen', monospace, Courier;
}

.inputArrayForm {
    display: flex;
    justify-content: space-between;
}

.inputArray{
    border: none;
    border-bottom: 2px solid red;
    color: white;
    background: none;
    width: 400px;
    height: 30px;
    font-weight: bold;
    font-family: 'Oxygen', monospace, Courier;
    font-size: 16px;
    margin-right: 20px;
}