@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


.containerQuiz {
    width: 700px;
    background: white;
    color: #222222;
    top: 14%;
    left: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    padding: 40px 50px;
    font-family: 'Poppins', sans-serif;
}

.containerQuiz h2{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.containerQuiz ul li{
    display: flex;
    align-items: center;
    height: 90px;
    padding-left: 15px;
    border: 2px solid #d17f3f;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.containerQuiz button{
    width: 150px;
    height: 30px;
    background: #d17f3f;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin: auto auto 20px;
}

.containerQuiz button:hover{
    border-color: #222222;
    background: rgba(243, 211, 9, 0.98);
}

.containerQuiz .index{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.containerQuiz .correct{
    border-color: #00ea02;
    background-color: #b2ff66;
}

.containerQuiz .incorrect{
    border-color: #FF0000;
    background: #FF6666;
}

.containerQuiz .selected{
    border-color: #00ea02;
    background-color: #7802f5;
}

.containerQuiz div {
    display: flex;
    justify-content: space-between;  /* Adjust as needed for your layout */
    align-items: center;  /* Adjust as needed for your layout */
}
.containerQuiz h1{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}

.containerQuiz .start{
    width: 200px;
    height: 35px;
    background: #f800ea;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 4px #00ea02;
}