.PseudoCode {
    right: 2%;
    top: 36%;
    position: absolute;
    float: right;
    font-size: 20px;
    border: 3px solid purple; /* Combined border shorthand */
    border-radius: 10px; /* Adjust the radius as needed */
    color: white;
    font-family: 'Oxygen', monospace, Courier;
    padding-right: 15px; /* Add padding for margin between content and border */
    padding-left: 15px;
    margin: auto;
}

.PseudoCode p {
    white-space: pre-wrap;
}

.Highlight {
    background-color: yellow;
    color: #282c34;
}

.PseudoCodeMerge {
    right: 1%;
    top: 36%;
    position: absolute;
    float: right;
    font-size: 18px;
    border: 3px solid purple;
    border-radius: 10px;
    color: white;
    font-family: 'Oxygen', monospace, Courier;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    height: 450px; /* Set a fixed height for the scrollable area */
    width: 500px;
    overflow: auto; /* Make the content scrollable if it exceeds the height */
}

/* Style for Webkit (Chrome, Safari) */
.PseudoCodeMerge::-webkit-scrollbar {
    width: 5px;
}

.PseudoCodeMerge::-webkit-scrollbar-thumb {
    background-color: #f800ea; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners */
}

.PseudoCodeMerge::-webkit-scrollbar-track {
    background-color: #222; /* Color of the track */
}