.mergeTitle {
    font-family: 'Oxygen', monospace, Courier;
    color: white;
    font-size: 75px;
    position: absolute;
    top: 0%;
    left: 36%;
    margin-top: 10px;
}

.backButton {
    position: absolute;
    top: 1%;
    right: 1%;
}

.chart {
    margin: auto;
    width: 800px;
    height: 400px;
    animation: none;
    top: 93%;
    left: 1%;
    position: absolute;
}

.bubbleControlButtons {
    display: flex;
    gap: 10px; /* Adjust this value to change the spacing */
    justify-content: center;
    position: absolute;
    top: 91%;
    right: 25%;
}